
# PlanAhead Generated physical constraints 

NET "Rst" CLOCK_DEDICATED_ROUTE = FALSE;
NET "Rst" LOC = B8;
NET "Clk" LOC = V10;
NET "Red[2]" LOC = N7;
NET "Red[1]" LOC = V7;
NET "Red[0]" LOC = U7;
NET "Green[2]" LOC = V6;
NET "Green[0]" LOC = P8;
NET "Blue[1]" LOC = T7;
NET "Blue[0]" LOC = R7;
NET "Vsync" LOC = P7;
NET "rightButton" LOC = D9;
NET "leftButton" LOC = C4;
NET "Hsync" LOC = N6;
